@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #1A1A1A;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.limitador {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
}
.limitador .img {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.limitador .img .mockup {
  width: 30em;
}
.limitador-text-h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.limitador-text-h1 span {
  color: #03D1BA;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 900px) {
  .limitador {
    display: flex;
  }
}

.button_yellow,
.button_red,
.button_green {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 15px;
  width: 100%;
  color: #1A1A1A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button_yellow {
  background: #FFD669;
}

.button_red {
  background: #FA6879;
}

.button_green {
  background: #2ED2BA;
}

header,
main,
footer,
.authenticated-section {
  padding: 20px;
}

@media (max-height: 820px) {
  header {
    opacity: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .title {
  text-align: center;
  font-size: 51.224px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.hero .lines {
  margin-right: -12em;
}

.footer {
  display: flex;
  gap: 54px;
  flex-direction: column;
}
.footer .text {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer .text span {
  color: #2ED2BA;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.authenticated-section {
  display: none;
  background-color: #1A1A1A;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 37px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.authenticated-section .qr-code-image {
  width: 100%;
  max-width: 29em;
}
.authenticated-section .data-container {
  flex-direction: column;
  justify-content: flex-end;
  gap: 37px;
  display: flex;
  width: 100%;
}
.authenticated-section .data-container .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.authenticated-section .data-container .data .title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.authenticated-section .data-container .data .title #username {
  color: #2ED2BA;
  font-weight: 700;
}
.authenticated-section .data-container .data .info-text {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.authenticated-section .data-container .data .info-text .info-min {
  display: none;
}
@media (max-height: 870px) {
  .authenticated-section .data-container .data .info-text .info-min {
    display: flex;
    font-size: 16px;
  }
  .authenticated-section .data-container .data .info-text .info-max {
    display: none;
  }
}
@media (max-height: 750px) {
  .authenticated-section .data-container .data .info-text {
    display: none;
  }
}
@media (min-width: 900px) {
  .authenticated-section {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
