@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$dark-color: #1A1A1A;

body {
    background-color: $dark-color;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.limitador {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: $dark-color;

    .img {
        display: flex;
        height: 100%;
        align-items: flex-end;

        .mockup {
            width: 30em;
        }
    }

    &-text {
        &-h1 {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            span {
                color: #03D1BA;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    @media (min-width: 900px) {
        display: flex;
    }
}

.button_yellow,
.button_red,
.button_green {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 15px;
    width: 100%;
    color: $dark-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button_yellow {
    background: #FFD669;
}

.button_red {
    background: #FA6879;
}

.button_green {
    background: #2ED2BA;
}


header,
main,
footer,
.authenticated-section {
    padding: 20px;
}


header {
    @media(max-height:820px) {
        opacity: 0;
    }
}



.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        text-align: center;
        font-size: 51.224px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    .lines {
        margin-right: -12em;
    }
}


.footer {
    display: flex;
    gap: 54px;
    flex-direction: column;

    .text {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;

        span {
            color: #2ED2BA;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.authenticated-section {
    display: none;
    background-color: $dark-color;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 37px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;


    .qr-code-image {
        width: 100%;
        max-width: 29em;
    }

    .data-container {
        flex-direction: column;
        justify-content: flex-end;
        gap: 37px;
        display: flex;
        width: 100%;

        .data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .title {
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;

                #username {
                    color: #2ED2BA;
                    font-weight: 700;
                }
            }

            .info-text {
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;

                .info-max {}

                .info-min {
                    display: none;
                }

                @media(max-height:870px) {
                    .info-min {
                        display: flex;
                        font-size: 16px;
                    }

                    .info-max {
                        display: none;
                    }
                }

                @media(max-height:750px) {
                    display: none;
                }
            }


        }


    }

    @media (min-width: 900px) {
        display: none !important;
    }
}